
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="#">Generator</a>
</nav>

<div class="custom-container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group">
          <div class="form-control equation-container" id="equationBox"
          ></div>
          <!-- for the button -->
          <button class="btn btn-danger" (click)="output('ast')">
            <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
          </button>
        </div>
         <h6 style="color:#ccc; display: inline;">Type any Equation/Expression Imaginable and click the calcultor button.</h6>
        <!-- To input conditions for the variables of the equeation/expression -->
        <br><br>
        <div class="form-control parameter-condition">

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- <div class="row"><div class="col-md-2"> <h1> <p>Variable</p> </div> <div class="col-md-1"> int </div> <div class="col-md-2"> dec </div> <div class="col-md-2"> dec point </div> <div class="col-md-2">  min </div> <div class="col-md-2"> max </div> </div> -->
    </div>
  </div>
</div>
