<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Generator</a>
</nav>
<div class="container">
  <guppy-input></guppy-input>
</div>
<!-- <router-outlet></router-outlet> -->
<div class="footer">
  <h6 style="color:#ccc; display: inline;"> © 2017 ChalkDoc </h6>
</div>
