
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="#">Generator</a>
</nav>

<div class="custom-container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group">
          <div class="form-control equation-container" id="equationBox"
          ></div>
          <!-- for the button -->
          <button class="btn btn-danger" (click)="output('eqns')">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <!-- <i class="fa fa-calculator fa-2x" aria-hidden="true"></i> -->
          </button>
        </div>
         <h6 style="color:#ccc; display: inline;">Type any Equation/Expression Imaginable and click the calcultor button.</h6>
        <!-- To input conditions for the variables of the equeation/expression -->
        <br><br>
        <div class="form-control parameter-condition">
          <div class="row">
            <div class="col-md-6">
              <p>Number of problems:</p>
            </div>
            <div class="col-md-6">
              <input type="number" min="1" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">Variable</div>
            <div class="col-md-2">Int</div>
            <div class="col-md-2">Dec</div>
            <div class="col-md-2">Dec. point</div>
            <div class="col-md-2">Min</div>
            <div class="col-md-2">Max</div>
          </div>
          <div class="row" *ngFor="let v of variables">
            <div class="col-md-2">{{v.name}}</div>
            <div class="col-md-2">
              <input type="radio"/>
            </div>
            <div class="col-md-2">
              <input type="radio"/>
            </div>
            <div class="col-md-2">
              <input type="number" min="0" class="form-control"/>
            </div>
            <div class="col-md-2">
              <input type="number" min="1" class="form-control"/>
            </div>
            <div class="col-md-2">
              <input type="number" min="1" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
              <button class="btn btn-success" style="width: 100%;" (click) = 'generate()'>
                <i class="fa fa-paper-plane-o" aria-hidden="true"> Generate</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>
