.custom-container {
    padding-top: 80px;
  }

.navbar {
    background-color: rgb(30, 49,85);
  }

.parameter-condition{
    display: none;
  }
input.ng-invalid{
  border: 1px solid red;
}
input.ng-valid{
  border: 1px solid black;
}
/*input.ng-pristine{
  border: 1px solid red;
}*/
/*input.ng-untouched{
  border: 1px solid red;
}*/
select.ng-invalid{
  border: 1px solid red;

}
select.ng-valid{
  border: 1px solid black;
}
/*select.ng-pristine{
  border: 1px solid red;
}*/
/*select.ng-untouched{
  border: 1px solid red;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13352c;
  color: white;
  text-align: center;
  height: 10%;
  padding: 10px;
}
