<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div *ngIf="childParameterDiv">
        <form #variableForm="ngForm" (ngSubmit)="onSubmit(variableForm)">
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Number of problems:</p>
            </div>
            <div class="col-md-6">
              <input type="number" min="1" class="form-control" ngModel name="numberOfProblems" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">Variable(s)</div>
            <div class="col-md-3">Dec. point</div>
            <div class="col-md-2">Min</div>
            <div class="col-md-2">Max</div>
            <div class="col-md-3">Allow Zero</div>
          </div>
          <div class="row" *ngFor="let variable of childVariables" ngModelGroup="variables">
            <div class="col-md-2">
              <p>{{variable.name}}</p>
            </div>
            <div class="col-md-3">
              <input type="number" class="form-control" name="decPoint{{variable.name}}" #decPoint{{variable.name}}='ngModel' [(ngModel)]="variable.decPoint"
                required>
              <p *ngIf="variable.decPoint < 0" class="text-danger">Decimal point must be greater than 0.</p>
            </div>
            <div class="col-md-2">
              <input type="number" class="form-control" name="min{{variable.name}}" [(ngModel)]="variable.min" max="{{variable.max}}" required>
            </div>
            <div class="col-md-2">
              <input type="number" class="form-control" name="max{{variable.name}}" [(ngModel)]="variable.max" min="{{variable.min}}" required>
            </div>
            <div class="col-md-3">
              <input type="checkbox" class="form-control" name="isZeroAllowed{{variable.name}}"  [(ngModel)]="variable.allowZero" checked={{variable.allowZero}}>
            </div>
            <div class="row">
              <p *ngIf="variable.max<variable.min" class="text-danger">Max must be greater than min</p>
            </div>
          </div>

          <!-- additional requirements -->
          <br>
          <br>
          <div class="row" id="parameterToSolveDiv">
            <div class="col-md-4">
              <label>Which variable to solve for?</label>
              <select [(ngModel)]="variableToSolve" class="form-control" name="variableToSolve" required>
                <option *ngFor="let variable of childVariables" [ngValue]="variable">
                  {{variable.name}}
                </option>
              </select>
            </div>
            <div class="col-md-5" *ngIf="variableToSolve">
              <label>Are answers with imaginary number ok?</label>
              <input type="radio" name="imaginaryAnswer" [value]="false" [(ngModel)]="canContainImaginary"> No
              <input type="radio" name="imaginaryAnswer" [value]="true" [(ngModel)]="canContainImaginary"> Yes
            </div>
            <div class="col-md-3" *ngIf="variableToSolve">
              <label>Returned answer</label>
              <input type="radio" name="meetParameterCondition" [value]="false" [(ngModel)]="meetParameterCondition"> All
              <input type="radio" name="meetParameterCondition" [value]="true" [(ngModel)]="meetParameterCondition"> Positive
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
              <button id="generate" type="submit" class="btn btn-success" style="width: 100%" [disabled]="variableForm.form.invalid">
                <i class="fa fa-paper-plane-o" aria-hidden="true"> Generate</i>
              </button>
              <br>
              <br>
              <br>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="isLoading">
      <img src="../assets/img/loadingGear.gif">
    </div>
    <table *ngIf="generatedView">
      <thead>
        <tr>
          <th *ngFor="let variable of childVariables">{{variable.name}} </th>
        </tr>
      </thead>
      <tbody *ngFor="let gc of generatedCombinations">
        <tr>
          <td *ngFor="let element of gc">{{element}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="errorsView">
      <p>Oops! One of your minimums was greater than one of your maximums! Check your inputs.</p>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
